<div class="card" >
  <div class="card__body">
    <%= link_to day.created_at.strftime("%Y年%-m月%-d日"), day_path(day.id), class: :card__day %>
    <p class="card__point" >
      <%= "#{day.today_point}点" %> 
    </p>
    <p class="card__idea" >
      <%= "今朝思いついた事"%><br>
      <%= day.idea %> 
    </p>
    <p class="card__impression">
      <%= "今日1日の感想"%><br>
      <%= day.impression %>
    </p>
  </div>
</div>

