<div class="today-main">
  <h2 class="today-title">今日の日記</h2>
  <%= form_with model: @day, url:day_path(@day), method: :patch, local: true do |f| %>
    <%= render 'devise/shared/error_messages', resource: @day %>
    
  <div class="form">
    <div class="text-content">今日やりたい事:
      <%= @day.want_do %>
    </div>

    <div class="text-content">今日やるべき事:
      <%= @day.must_do %>
    </div>

    <div class="text-content">今日やらない事:
      <%= @day.do_not %>
    </div>
       
    <div class="text-content">アイデア:
      <%= @day.idea%>
    </div>

    <div class="text-content">1日の点数 必須</div>
      <%= f.text_area :today_point, class:"items-text", placeholder:"1〜9を使った2桁のみ登録できます。(8,50,100等は不可)" %>

    <div class="text-content">今日良かった事 必須</div>
      <%= f.text_area :happy, class:"items-text" %>

    <div class="text-content">今日残念だった事 必須</div>
      <%= f.text_area :sad, class:"items-text" %>
        
    <div class="text-content">頑張った事 必須</div>
      <%= f.text_area :effort, class:"items-text" %>
        
    <div class="text-content">できなかった事 必須</div>
      <%= f.text_area :could_not, class:"items-text" %>
        
    <div class="text-content">学んだ事 必須</div>
      <%= f.text_area :learn, class:"items-text" %>
        
    <div class="text-content">1日の感想 必須</div>
      <%= f.text_area :impression, class:"items-text" %>
  </div>
    <%# 注意書き %>
    <div class="danger_note">
      <%= "この日記は削除、編集ができないのでご注意ください"%>
    </div>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back_btn" %>
    </div>
  <% end %>
</div>
