<%= "こんにちは" %>
<% if user_signed_in? %>
  <%= current_user.name%>
    <%= "さん" %>
  </div>
<% end %>
<%= render partial: "form" %>
<div class="card__wrapper">
  <%= "日記一覧" %>
  <% @days.each do |day| %>
    <%= render partial: "day", locals: { day:day  }%>
  <% end %>

  <%= paginate @days %>
</div>