<%= "こんにちは" %>
<% if user_signed_in? %>
  <%= current_user.name%>
    <%= "さん" %>
  </div>
<% end %>

<%= form_with(url: search_days_path, method: :get, local: true, class: "search-form") do |form| %>
  <%= form.text_field :impression, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="card__wrapper">
  <%= "日記一覧" %>
  <% @days.each do |day| %>
    <%= render partial: "day", locals: { day:day  }%>
  <% end %>

  <%= paginate @days %>
</div>