
<% if @day.created_at.day != @time.day %>
  <%= link_to "ToDoをつける", new_day_path, class: :nav__btn %>
<% end %>
                
<%= render partial: "form" %>
<div class="card__wrapper">
  <%= "日記一覧" %>
  <% @days.each do |day| %>
    <%= render partial: "day", locals: { day:day  }%>
  <% end %>

  <%= paginate @days %>
</div>